openapi: 3.1.0
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
info:
  title: Teralya API
  version: 1.0.0
  description: Contrato OpenAPI 3.1 del MVP. Derivado de INF-08 v2.5, INF-10 v1.0 e INF-10-A v1.0.
  contact:
    name: Teralya
    url: https://teralya.es
  license:
    name: Propietario — Teralya
    identifier: LicenseRef-Teralya-Proprietary
servers:
- url: https://api.teralya.es
  description: Producción
tags:
- name: Autenticación
  description: Registro, acceso y recuperación de credenciales.
- name: Bodegas
  description: Alta, perfil y consulta pública de bodegas.
- name: Vinos
  description: Catálogo y gestión del ciclo de vida del vino.
- name: Carrito
  description: Gestión y fusión idempotente del carrito de compra.
- name: Checkout
  description: Preparación del Pedido, pago y confirmación.
- name: Pedidos
  description: Consulta de Pedidos del comprador.
- name: SubPedidos
  description: Operativa logística propia de cada bodega.
- name: Administración
  description: Revisión, publicación, Pedidos e incidencias administrativas.
- name: Sistema
  description: Integraciones internas y webhooks firmados.
- name: Direcciones
  description: Gestión idempotente de direcciones propias.
- name: Imágenes
  description: Carga directa a S3 y gestión de imágenes de vino.
paths:
  /auth/registro/comprador:
    post:
      operationId: api001
      x-teralya-api-code: API-001
      x-teralya-cu:
      - CU-001
      x-teralya-pt:
      - PT-ACC-001
      tags:
      - Autenticación
      summary: Registrar comprador
      description: Contrato normativo de API-001.
      security: []
      responses:
        '201':
          description: Operación completada
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSession'
              examples:
                success:
                  value:
                    access_token: AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                    token_type: Bearer
                    expires_in: 28800
                    expires_at: '2026-07-13T12:00:00Z'
                    usuario:
                      id: 11111111-1111-4111-8111-111111111111
                      email: usuario@example.com
                      rol: comprador
                      idioma: es
                      estado: pendiente_verificacion
        '400':
          description: Validation Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/validation-error
                    title: Validation Error
                    status: 400
                    detail: La solicitud no pudo completarse.
                    code: VALIDATION_ERROR
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '409':
          description: Conflict
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/conflict
                    title: Conflict
                    status: 409
                    detail: La solicitud no pudo completarse.
                    code: CONFLICT
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '500':
          description: Internal Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/internal-error
                    title: Internal Error
                    status: 500
                    detail: La solicitud no pudo completarse.
                    code: INTERNAL_ERROR
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterBuyerRequest'
            examples:
              success:
                value:
                  email: usuario@example.com
                  password: aaaaaaaaaaaa
                  nombre: aaaaa
                  apellidos: aaaaa
                  fecha_nacimiento: '1990-01-01'
                  declaracion_mayoria_edad: true
                  aceptacion_condiciones_alcohol: true
  /auth/login:
    post:
      operationId: api002
      x-teralya-api-code: API-002
      x-teralya-cu:
      - CU-002
      - CU-013
      - CU-020
      x-teralya-pt:
      - PT-ACC-003
      - PT-BOD-001
      - PT-ADM-001
      - PT-SIS-003
      tags:
      - Autenticación
      summary: Iniciar sesión
      description: Contrato normativo de API-002.
      security: []
      responses:
        '200':
          description: Operación completada
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSession'
              examples:
                success:
                  value:
                    access_token: AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                    token_type: Bearer
                    expires_in: 28800
                    expires_at: '2026-07-13T12:00:00Z'
                    usuario:
                      id: 11111111-1111-4111-8111-111111111111
                      email: usuario@example.com
                      rol: comprador
                      idioma: es
                      estado: pendiente_verificacion
        '400':
          description: Validation Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/validation-error
                    title: Validation Error
                    status: 400
                    detail: La solicitud no pudo completarse.
                    code: VALIDATION_ERROR
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '401':
          description: Authentication Required
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            WWW-Authenticate:
              description: Desafío Bearer según RFC 6750
              schema:
                type: string
                const: Bearer
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/authentication-required
                    title: Authentication Required
                    status: 401
                    detail: La solicitud no pudo completarse.
                    code: AUTHENTICATION_REQUIRED
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '403':
          description: Forbidden
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/forbidden
                    title: Forbidden
                    status: 403
                    detail: La solicitud no pudo completarse.
                    code: FORBIDDEN
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '429':
          description: Rate Limited
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/rate-limited
                    title: Rate Limited
                    status: 429
                    detail: La solicitud no pudo completarse.
                    code: RATE_LIMITED
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: true
        '500':
          description: Internal Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/internal-error
                    title: Internal Error
                    status: 500
                    detail: La solicitud no pudo completarse.
                    code: INTERNAL_ERROR
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            examples:
              success:
                value:
                  email: usuario@example.com
                  password: aaaaaaaaaaaa
  /auth/recuperar-password:
    post:
      operationId: api003
      x-teralya-api-code: API-003
      x-teralya-cu:
      - CU-003
      x-teralya-pt:
      - PT-ACC-004
      tags:
      - Autenticación
      summary: Solicitar recuperación
      description: 'Respuesta genérica anti-enumeración: no revela si el correo existe.'
      security: []
      responses:
        '200':
          description: Operación completada
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericAck'
              examples:
                success:
                  value:
                    message: aaaaa
                    request_id: 11111111-1111-4111-8111-111111111111
        '400':
          description: Validation Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/validation-error
                    title: Validation Error
                    status: 400
                    detail: La solicitud no pudo completarse.
                    code: VALIDATION_ERROR
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '429':
          description: Rate Limited
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/rate-limited
                    title: Rate Limited
                    status: 429
                    detail: La solicitud no pudo completarse.
                    code: RATE_LIMITED
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: true
        '500':
          description: Internal Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/internal-error
                    title: Internal Error
                    status: 500
                    detail: La solicitud no pudo completarse.
                    code: INTERNAL_ERROR
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordRecoveryRequest'
            examples:
              success:
                value:
                  email: usuario@example.com
  /auth/restablecer-password:
    post:
      operationId: api004
      x-teralya-api-code: API-004
      x-teralya-cu:
      - CU-003
      x-teralya-pt:
      - PT-ACC-005
      tags:
      - Autenticación
      summary: Restablecer contraseña
      description: Contrato normativo de API-004.
      security: []
      responses:
        '200':
          description: Operación completada
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericAck'
              examples:
                success:
                  value:
                    message: aaaaa
                    request_id: 11111111-1111-4111-8111-111111111111
        '400':
          description: Validation Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/validation-error
                    title: Validation Error
                    status: 400
                    detail: La solicitud no pudo completarse.
                    code: VALIDATION_ERROR
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '404':
          description: Resource Not Found
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/resource-not-found
                    title: Resource Not Found
                    status: 404
                    detail: La solicitud no pudo completarse.
                    code: RESOURCE_NOT_FOUND
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '409':
          description: Conflict
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/conflict
                    title: Conflict
                    status: 409
                    detail: La solicitud no pudo completarse.
                    code: CONFLICT
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '500':
          description: Internal Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/internal-error
                    title: Internal Error
                    status: 500
                    detail: La solicitud no pudo completarse.
                    code: INTERNAL_ERROR
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordResetRequest'
            examples:
              success:
                value:
                  token: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                  password_nueva: aaaaaaaaaaaa
                  confirmacion_password: aaaaaaaaaaaa
  /bodegas:
    post:
      operationId: api005
      x-teralya-api-code: API-005
      x-teralya-cu:
      - CU-012
      x-teralya-pt:
      - PT-ACC-002
      tags:
      - Bodegas
      summary: Solicitar registro de bodega
      description: API-005 registra una solicitud enviada con estado pendiente_revision y tipo estandar. La condición fundadora no se concede automáticamente (DLOG 0022).
      security: []
      responses:
        '201':
          description: Operación completada
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BodegaSelf'
              examples:
                success:
                  value:
                    id: 11111111-1111-4111-8111-111111111111
                    nombre_comercial: aaaaa
                    estado: pendiente_revision
                    created_at: '2026-07-13T12:00:00Z'
                    updated_at: '2026-07-13T12:00:00Z'
        '400':
          description: Validation Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/validation-error
                    title: Validation Error
                    status: 400
                    detail: La solicitud no pudo completarse.
                    code: VALIDATION_ERROR
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '409':
          description: Conflict
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/conflict
                    title: Conflict
                    status: 409
                    detail: La solicitud no pudo completarse.
                    code: CONFLICT
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '500':
          description: Internal Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/internal-error
                    title: Internal Error
                    status: 500
                    detail: La solicitud no pudo completarse.
                    code: INTERNAL_ERROR
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BodegaRegistrationRequest'
            examples:
              success:
                value:
                  nombre_comercial: aaaaa
                  razon_social: aaaaa
                  cif_vat: aaaaa
                  email: usuario@example.com
                  password: aaaaaaaaaaaa
                  persona_contacto: aaaaa
                  telefono: aaaaa
                  aceptacion_condiciones: true
  /bodegas/yo/perfil:
    patch:
      operationId: api006
      x-teralya-api-code: API-006
      x-teralya-cu:
      - CU-014
      x-teralya-pt:
      - PT-BOD-002
      tags:
      - Bodegas
      summary: Actualizar perfil propio
      description: Contrato normativo de API-006.
      security:
      - BearerOpaque: []
      responses:
        '200':
          description: Operación completada
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BodegaSelf'
              examples:
                success:
                  value:
                    id: 11111111-1111-4111-8111-111111111111
                    nombre_comercial: aaaaa
                    estado: borrador
                    created_at: '2026-07-13T12:00:00Z'
                    updated_at: '2026-07-13T12:00:00Z'
        '400':
          description: Validation Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/validation-error
                    title: Validation Error
                    status: 400
                    detail: La solicitud no pudo completarse.
                    code: VALIDATION_ERROR
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '401':
          description: Authentication Required
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            WWW-Authenticate:
              description: Desafío Bearer según RFC 6750
              schema:
                type: string
                const: Bearer
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/authentication-required
                    title: Authentication Required
                    status: 401
                    detail: La solicitud no pudo completarse.
                    code: AUTHENTICATION_REQUIRED
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '403':
          description: Forbidden
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/forbidden
                    title: Forbidden
                    status: 403
                    detail: La solicitud no pudo completarse.
                    code: FORBIDDEN
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '409':
          description: Conflict
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/conflict
                    title: Conflict
                    status: 409
                    detail: La solicitud no pudo completarse.
                    code: CONFLICT
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '500':
          description: Internal Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/internal-error
                    title: Internal Error
                    status: 500
                    detail: La solicitud no pudo completarse.
                    code: INTERNAL_ERROR
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BodegaProfilePatch'
            examples:
              success:
                value:
                  nombre_comercial: aaaaa
    get:
      operationId: api031
      x-teralya-api-code: API-031
      x-teralya-cu:
      - CU-014
      x-teralya-pt:
      - PT-BOD-002
      tags:
      - Bodegas
      summary: Consultar perfil propio
      description: Contrato normativo de API-031.
      security:
      - BearerOpaque: []
      responses:
        '200':
          description: Operación completada
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BodegaSelf'
              examples:
                success:
                  value:
                    id: 11111111-1111-4111-8111-111111111111
                    nombre_comercial: aaaaa
                    estado: borrador
                    created_at: '2026-07-13T12:00:00Z'
                    updated_at: '2026-07-13T12:00:00Z'
        '401':
          description: Authentication Required
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            WWW-Authenticate:
              description: Desafío Bearer según RFC 6750
              schema:
                type: string
                const: Bearer
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/authentication-required
                    title: Authentication Required
                    status: 401
                    detail: La solicitud no pudo completarse.
                    code: AUTHENTICATION_REQUIRED
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '403':
          description: Forbidden
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/forbidden
                    title: Forbidden
                    status: 403
                    detail: La solicitud no pudo completarse.
                    code: FORBIDDEN
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '404':
          description: Resource Not Found
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/resource-not-found
                    title: Resource Not Found
                    status: 404
                    detail: La solicitud no pudo completarse.
                    code: RESOURCE_NOT_FOUND
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '500':
          description: Internal Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/internal-error
                    title: Internal Error
                    status: 500
                    detail: La solicitud no pudo completarse.
                    code: INTERNAL_ERROR
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
  /bodegas/yo/vinos:
    post:
      operationId: api007
      x-teralya-api-code: API-007
      x-teralya-cu:
      - CU-015
      x-teralya-pt:
      - PT-BOD-004
      tags:
      - Vinos
      summary: Crear vino
      description: Contrato normativo de API-007.
      security:
      - BearerOpaque: []
      responses:
        '201':
          description: Operación completada
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WineOwnDetail'
              examples:
                success:
                  value:
                    id: 11111111-1111-4111-8111-111111111111
                    nombre_comercial: aaaaa
                    precio: '10.00'
                    moneda: EUR
                    disponible_venta: true
                    bodega:
                      id: 11111111-1111-4111-8111-111111111111
                      nombre_comercial: aaaaa
                    imagenes: []
                    estado: borrador
                    stock_disponible: 0
                    stock_reservado: 0
                    stock_minimo: 0
                    created_at: '2026-07-13T12:00:00Z'
                    updated_at: '2026-07-13T12:00:00Z'
        '400':
          description: Validation Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/validation-error
                    title: Validation Error
                    status: 400
                    detail: La solicitud no pudo completarse.
                    code: VALIDATION_ERROR
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '401':
          description: Authentication Required
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            WWW-Authenticate:
              description: Desafío Bearer según RFC 6750
              schema:
                type: string
                const: Bearer
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/authentication-required
                    title: Authentication Required
                    status: 401
                    detail: La solicitud no pudo completarse.
                    code: AUTHENTICATION_REQUIRED
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '403':
          description: Forbidden
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/forbidden
                    title: Forbidden
                    status: 403
                    detail: La solicitud no pudo completarse.
                    code: FORBIDDEN
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '409':
          description: Conflict
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/conflict
                    title: Conflict
                    status: 409
                    detail: La solicitud no pudo completarse.
                    code: CONFLICT
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '500':
          description: Internal Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/internal-error
                    title: Internal Error
                    status: 500
                    detail: La solicitud no pudo completarse.
                    code: INTERNAL_ERROR
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WineCreateRequest'
            examples:
              success:
                value:
                  nombre_comercial: aaaaa
                  precio: '10.00'
                  moneda: EUR
                  stock_disponible: 0
                  disponible_venta: true
    get:
      operationId: api032
      x-teralya-api-code: API-032
      x-teralya-cu:
      - CU-015
      - CU-016
      - CU-017
      x-teralya-pt:
      - PT-BOD-003
      tags:
      - Vinos
      summary: Listar vinos propios
      description: Contrato normativo de API-032.
      security:
      - BearerOpaque: []
      responses:
        '200':
          description: Operación completada
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageWineOwnSummary'
              examples:
                success:
                  value:
                    items: []
                    page: 1
                    page_size: 1
                    total_items: 0
                    total_pages: 0
        '400':
          description: Validation Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/validation-error
                    title: Validation Error
                    status: 400
                    detail: La solicitud no pudo completarse.
                    code: VALIDATION_ERROR
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '401':
          description: Authentication Required
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            WWW-Authenticate:
              description: Desafío Bearer según RFC 6750
              schema:
                type: string
                const: Bearer
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/authentication-required
                    title: Authentication Required
                    status: 401
                    detail: La solicitud no pudo completarse.
                    code: AUTHENTICATION_REQUIRED
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '403':
          description: Forbidden
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/forbidden
                    title: Forbidden
                    status: 403
                    detail: La solicitud no pudo completarse.
                    code: FORBIDDEN
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '500':
          description: Internal Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/internal-error
                    title: Internal Error
                    status: 500
                    detail: La solicitud no pudo completarse.
                    code: INTERNAL_ERROR
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
      parameters:
      - name: estado
        in: query
        required: false
        schema: &id022
          type: string
          enum:
          - borrador
          - pendiente_revision
          - publicado
          - oculto
          - archivado
        example: borrador
      - &id004
        name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          default: 1
        description: Página, desde 1
        example: 1
      - &id005
        name: page_size
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        description: Elementos por página
        example: 20
  /bodegas/yo/vinos/{id}:
    put:
      operationId: api008
      x-teralya-api-code: API-008
      x-teralya-cu:
      - CU-016
      x-teralya-pt:
      - PT-BOD-005
      tags:
      - Vinos
      summary: Reemplazar vino propio
      description: Contrato normativo de API-008.
      security:
      - BearerOpaque: []
      responses:
        '200':
          description: Operación completada
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WineOwnDetail'
              examples:
                success:
                  value:
                    id: 11111111-1111-4111-8111-111111111111
                    nombre_comercial: aaaaa
                    precio: '10.00'
                    moneda: EUR
                    disponible_venta: true
                    bodega:
                      id: 11111111-1111-4111-8111-111111111111
                      nombre_comercial: aaaaa
                    imagenes: []
                    estado: borrador
                    stock_disponible: 0
                    stock_reservado: 0
                    stock_minimo: 0
                    created_at: '2026-07-13T12:00:00Z'
                    updated_at: '2026-07-13T12:00:00Z'
        '400':
          description: Validation Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/validation-error
                    title: Validation Error
                    status: 400
                    detail: La solicitud no pudo completarse.
                    code: VALIDATION_ERROR
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '401':
          description: Authentication Required
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            WWW-Authenticate:
              description: Desafío Bearer según RFC 6750
              schema:
                type: string
                const: Bearer
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/authentication-required
                    title: Authentication Required
                    status: 401
                    detail: La solicitud no pudo completarse.
                    code: AUTHENTICATION_REQUIRED
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '403':
          description: Forbidden
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/forbidden
                    title: Forbidden
                    status: 403
                    detail: La solicitud no pudo completarse.
                    code: FORBIDDEN
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '404':
          description: Resource Not Found
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/resource-not-found
                    title: Resource Not Found
                    status: 404
                    detail: La solicitud no pudo completarse.
                    code: RESOURCE_NOT_FOUND
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '409':
          description: Conflict
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/conflict
                    title: Conflict
                    status: 409
                    detail: La solicitud no pudo completarse.
                    code: CONFLICT
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '500':
          description: Internal Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/internal-error
                    title: Internal Error
                    status: 500
                    detail: La solicitud no pudo completarse.
                    code: INTERNAL_ERROR
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
      parameters:
      - name: id
        in: path
        required: true
        schema: &id001
          type: string
          format: uuid
        description: Identificador id
        example: 11111111-1111-4111-8111-111111111111
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WineUpdateRequest'
            examples:
              success:
                value:
                  nombre_comercial: aaaaa
                  precio: '10.00'
                  moneda: EUR
                  stock_disponible: 0
                  disponible_venta: true
    get:
      operationId: api033
      x-teralya-api-code: API-033
      x-teralya-cu:
      - CU-015
      - CU-016
      - CU-017
      x-teralya-pt:
      - PT-BOD-006
      tags:
      - Vinos
      summary: Consultar vino propio
      description: Contrato normativo de API-033.
      security:
      - BearerOpaque: []
      responses:
        '200':
          description: Operación completada
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WineOwnDetail'
              examples:
                success:
                  value:
                    id: 11111111-1111-4111-8111-111111111111
                    nombre_comercial: aaaaa
                    precio: '10.00'
                    moneda: EUR
                    disponible_venta: true
                    bodega:
                      id: 11111111-1111-4111-8111-111111111111
                      nombre_comercial: aaaaa
                    imagenes: []
                    estado: borrador
                    stock_disponible: 0
                    stock_reservado: 0
                    stock_minimo: 0
                    created_at: '2026-07-13T12:00:00Z'
                    updated_at: '2026-07-13T12:00:00Z'
        '401':
          description: Authentication Required
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            WWW-Authenticate:
              description: Desafío Bearer según RFC 6750
              schema:
                type: string
                const: Bearer
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/authentication-required
                    title: Authentication Required
                    status: 401
                    detail: La solicitud no pudo completarse.
                    code: AUTHENTICATION_REQUIRED
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '403':
          description: Forbidden
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/forbidden
                    title: Forbidden
                    status: 403
                    detail: La solicitud no pudo completarse.
                    code: FORBIDDEN
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '404':
          description: Resource Not Found
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/resource-not-found
                    title: Resource Not Found
                    status: 404
                    detail: La solicitud no pudo completarse.
                    code: RESOURCE_NOT_FOUND
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '500':
          description: Internal Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/internal-error
                    title: Internal Error
                    status: 500
                    detail: La solicitud no pudo completarse.
                    code: INTERNAL_ERROR
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
      parameters:
      - name: id
        in: path
        required: true
        schema: *id001
        description: Identificador id
        example: 11111111-1111-4111-8111-111111111111
  /vinos:
    get:
      operationId: api009
      x-teralya-api-code: API-009
      x-teralya-cu:
      - CU-004
      - CU-005
      x-teralya-pt:
      - PT-PUB-002
      tags:
      - Vinos
      summary: Consultar catálogo
      description: Contrato normativo de API-009.
      security: []
      responses:
        '200':
          description: Operación completada
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageWineSummary'
              examples:
                success:
                  value:
                    items: []
                    page: 1
                    page_size: 1
                    total_items: 0
                    total_pages: 0
        '400':
          description: Validation Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/validation-error
                    title: Validation Error
                    status: 400
                    detail: La solicitud no pudo completarse.
                    code: VALIDATION_ERROR
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '500':
          description: Internal Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/internal-error
                    title: Internal Error
                    status: 500
                    detail: La solicitud no pudo completarse.
                    code: INTERNAL_ERROR
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
      parameters:
      - name: q
        in: query
        required: false
        schema:
          type: string
          minLength: 1
          maxLength: 120
        example: aaaaa
      - name: tipo_vino
        in: query
        required: false
        schema: &id006
          type: string
          minLength: 1
          maxLength: 80
        example: aaaaa
      - name: region
        in: query
        required: false
        schema: &id002
          type: string
          minLength: 1
          maxLength: 160
        example: aaaaa
      - name: denominacion_origen
        in: query
        required: false
        schema: *id002
        example: aaaaa
      - name: precio_min
        in: query
        required: false
        schema: &id003
          type: string
          pattern: ^(0|[1-9][0-9]{0,7})\.[0-9]{2}$
        example: '10.00'
      - name: precio_max
        in: query
        required: false
        schema: *id003
        example: '10.00'
      - *id004
      - *id005
  /vinos/{id}:
    get:
      operationId: api010
      x-teralya-api-code: API-010
      x-teralya-cu:
      - CU-006
      x-teralya-pt:
      - PT-PUB-003
      tags:
      - Vinos
      summary: Consultar ficha de vino
      description: Contrato normativo de API-010.
      security: []
      responses:
        '200':
          description: Operación completada
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WinePublicDetail'
              examples:
                success:
                  value:
                    id: 11111111-1111-4111-8111-111111111111
                    nombre_comercial: aaaaa
                    precio: '10.00'
                    moneda: EUR
                    disponible_venta: true
                    bodega:
                      id: 11111111-1111-4111-8111-111111111111
                      nombre_comercial: aaaaa
                    imagenes: []
        '404':
          description: Resource Not Found
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/resource-not-found
                    title: Resource Not Found
                    status: 404
                    detail: La solicitud no pudo completarse.
                    code: RESOURCE_NOT_FOUND
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '500':
          description: Internal Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/internal-error
                    title: Internal Error
                    status: 500
                    detail: La solicitud no pudo completarse.
                    code: INTERNAL_ERROR
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
      parameters:
      - name: id
        in: path
        required: true
        schema: *id001
        description: Identificador id
        example: 11111111-1111-4111-8111-111111111111
  /carrito/items:
    post:
      operationId: api011
      x-teralya-api-code: API-011
      x-teralya-cu:
      - CU-002
      - CU-007
      - CU-008
      x-teralya-pt:
      - PT-ACC-001
      - PT-ACC-003
      - PT-COM-002
      tags:
      - Carrito
      summary: Añadir o fusionar carrito
      description: Fusiona el carrito local identificado por fusion_id de forma idempotente; reintentos devuelven el mismo
        resultado.
      security:
      - BearerOpaque: []
      responses:
        '200':
          description: Operación completada
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartMutationResponse'
              examples:
                success:
                  value:
                    carrito:
                      id: 11111111-1111-4111-8111-111111111111
                      estado: activo
                      items: []
                      num_productos: 0
                      num_botellas: 0
                      subtotal: '10.00'
                      gastos_envio: '10.00'
                      descuentos: '10.00'
                      total: '10.00'
                      moneda: EUR
                      updated_at: '2026-07-13T12:00:00Z'
        '400':
          description: Validation Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/validation-error
                    title: Validation Error
                    status: 400
                    detail: La solicitud no pudo completarse.
                    code: VALIDATION_ERROR
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '401':
          description: Authentication Required
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            WWW-Authenticate:
              description: Desafío Bearer según RFC 6750
              schema:
                type: string
                const: Bearer
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/authentication-required
                    title: Authentication Required
                    status: 401
                    detail: La solicitud no pudo completarse.
                    code: AUTHENTICATION_REQUIRED
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '404':
          description: Resource Not Found
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/resource-not-found
                    title: Resource Not Found
                    status: 404
                    detail: La solicitud no pudo completarse.
                    code: RESOURCE_NOT_FOUND
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '409':
          description: Conflict
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/conflict
                    title: Conflict
                    status: 409
                    detail: La solicitud no pudo completarse.
                    code: CONFLICT
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '500':
          description: Internal Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/internal-error
                    title: Internal Error
                    status: 500
                    detail: La solicitud no pudo completarse.
                    code: INTERNAL_ERROR
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartRequest'
            examples:
              success:
                value:
                  vino_id: 11111111-1111-4111-8111-111111111111
                  cantidad: 1
  /carrito:
    get:
      operationId: api012
      x-teralya-api-code: API-012
      x-teralya-cu:
      - CU-008
      x-teralya-pt:
      - PT-COM-002
      tags:
      - Carrito
      summary: Consultar carrito
      description: Contrato normativo de API-012.
      security:
      - BearerOpaque: []
      responses:
        '200':
          description: Operación completada
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cart'
              examples:
                success:
                  value:
                    id: 11111111-1111-4111-8111-111111111111
                    estado: activo
                    items: []
                    num_productos: 0
                    num_botellas: 0
                    subtotal: '10.00'
                    gastos_envio: '10.00'
                    descuentos: '10.00'
                    total: '10.00'
                    moneda: EUR
                    updated_at: '2026-07-13T12:00:00Z'
        '401':
          description: Authentication Required
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            WWW-Authenticate:
              description: Desafío Bearer según RFC 6750
              schema:
                type: string
                const: Bearer
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/authentication-required
                    title: Authentication Required
                    status: 401
                    detail: La solicitud no pudo completarse.
                    code: AUTHENTICATION_REQUIRED
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '404':
          description: Resource Not Found
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/resource-not-found
                    title: Resource Not Found
                    status: 404
                    detail: La solicitud no pudo completarse.
                    code: RESOURCE_NOT_FOUND
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '500':
          description: Internal Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/internal-error
                    title: Internal Error
                    status: 500
                    detail: La solicitud no pudo completarse.
                    code: INTERNAL_ERROR
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
    delete:
      operationId: api015
      x-teralya-api-code: API-015
      x-teralya-cu:
      - CU-008
      x-teralya-pt:
      - PT-COM-002
      tags:
      - Carrito
      summary: Vaciar carrito
      description: Contrato normativo de API-015.
      security:
      - BearerOpaque: []
      responses:
        '200':
          description: Operación completada
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cart'
              examples:
                success:
                  value:
                    id: 11111111-1111-4111-8111-111111111111
                    estado: activo
                    items: []
                    num_productos: 0
                    num_botellas: 0
                    subtotal: '10.00'
                    gastos_envio: '10.00'
                    descuentos: '10.00'
                    total: '10.00'
                    moneda: EUR
                    updated_at: '2026-07-13T12:00:00Z'
        '401':
          description: Authentication Required
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            WWW-Authenticate:
              description: Desafío Bearer según RFC 6750
              schema:
                type: string
                const: Bearer
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/authentication-required
                    title: Authentication Required
                    status: 401
                    detail: La solicitud no pudo completarse.
                    code: AUTHENTICATION_REQUIRED
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '500':
          description: Internal Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/internal-error
                    title: Internal Error
                    status: 500
                    detail: La solicitud no pudo completarse.
                    code: INTERNAL_ERROR
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
  /carrito/items/{id}:
    patch:
      operationId: api013
      x-teralya-api-code: API-013
      x-teralya-cu:
      - CU-008
      x-teralya-pt:
      - PT-COM-002
      tags:
      - Carrito
      summary: Modificar cantidad
      description: Contrato normativo de API-013.
      security:
      - BearerOpaque: []
      responses:
        '200':
          description: Operación completada
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cart'
              examples:
                success:
                  value:
                    id: 11111111-1111-4111-8111-111111111111
                    estado: activo
                    items: []
                    num_productos: 0
                    num_botellas: 0
                    subtotal: '10.00'
                    gastos_envio: '10.00'
                    descuentos: '10.00'
                    total: '10.00'
                    moneda: EUR
                    updated_at: '2026-07-13T12:00:00Z'
        '400':
          description: Validation Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/validation-error
                    title: Validation Error
                    status: 400
                    detail: La solicitud no pudo completarse.
                    code: VALIDATION_ERROR
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '401':
          description: Authentication Required
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            WWW-Authenticate:
              description: Desafío Bearer según RFC 6750
              schema:
                type: string
                const: Bearer
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/authentication-required
                    title: Authentication Required
                    status: 401
                    detail: La solicitud no pudo completarse.
                    code: AUTHENTICATION_REQUIRED
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '404':
          description: Resource Not Found
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/resource-not-found
                    title: Resource Not Found
                    status: 404
                    detail: La solicitud no pudo completarse.
                    code: RESOURCE_NOT_FOUND
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '409':
          description: Conflict
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/conflict
                    title: Conflict
                    status: 409
                    detail: La solicitud no pudo completarse.
                    code: CONFLICT
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '500':
          description: Internal Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/internal-error
                    title: Internal Error
                    status: 500
                    detail: La solicitud no pudo completarse.
                    code: INTERNAL_ERROR
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
      parameters:
      - name: id
        in: path
        required: true
        schema: *id001
        description: Identificador id
        example: 11111111-1111-4111-8111-111111111111
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuantityPatchRequest'
            examples:
              success:
                value:
                  cantidad: 1
    delete:
      operationId: api014
      x-teralya-api-code: API-014
      x-teralya-cu:
      - CU-008
      x-teralya-pt:
      - PT-COM-002
      tags:
      - Carrito
      summary: Eliminar línea
      description: Contrato normativo de API-014.
      security:
      - BearerOpaque: []
      responses:
        '200':
          description: Operación completada
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cart'
              examples:
                success:
                  value:
                    id: 11111111-1111-4111-8111-111111111111
                    estado: activo
                    items: []
                    num_productos: 0
                    num_botellas: 0
                    subtotal: '10.00'
                    gastos_envio: '10.00'
                    descuentos: '10.00'
                    total: '10.00'
                    moneda: EUR
                    updated_at: '2026-07-13T12:00:00Z'
        '401':
          description: Authentication Required
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            WWW-Authenticate:
              description: Desafío Bearer según RFC 6750
              schema:
                type: string
                const: Bearer
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/authentication-required
                    title: Authentication Required
                    status: 401
                    detail: La solicitud no pudo completarse.
                    code: AUTHENTICATION_REQUIRED
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '404':
          description: Resource Not Found
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/resource-not-found
                    title: Resource Not Found
                    status: 404
                    detail: La solicitud no pudo completarse.
                    code: RESOURCE_NOT_FOUND
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '500':
          description: Internal Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/internal-error
                    title: Internal Error
                    status: 500
                    detail: La solicitud no pudo completarse.
                    code: INTERNAL_ERROR
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
      parameters:
      - name: id
        in: path
        required: true
        schema: *id001
        description: Identificador id
        example: 11111111-1111-4111-8111-111111111111
  /checkout:
    post:
      operationId: api016
      x-teralya-api-code: API-016
      x-teralya-cu:
      - CU-009
      x-teralya-pt:
      - PT-COM-003
      tags:
      - Checkout
      summary: Preparar Pedido
      description: Crea como máximo un Pedido pendiente_pago por carrito y congela únicamente las direcciones en snapshots
        inmutables. Las líneas y precios se congelan al confirmar el pago en API-029.
      security:
      - BearerOpaque: []
      responses:
        '200':
          description: Operación completada
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderPrepared'
              examples:
                success:
                  value:
                    id: 11111111-1111-4111-8111-111111111111
                    numero_pedido: aaaaa
                    estado: pendiente_pago
                    totales:
                      subtotal: '10.00'
                      gastos_envio: '2.00'
                      impuestos: '2.10'
                      descuentos: '1.00'
                      total: '13.10'
                      moneda: EUR
                    direccion_envio_snapshot:
                      nombre_destinatario: aaaaa
                      direccion: aaaaa
                      codigo_postal: aaaaa
                      ciudad: aaaaa
                      pais: aaaaa
                    direccion_facturacion_snapshot:
                      nombre_destinatario: aaaaa
                      direccion: aaaaa
                      codigo_postal: aaaaa
                      ciudad: aaaaa
                      pais: aaaaa
        '400':
          description: Validation Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/validation-error
                    title: Validation Error
                    status: 400
                    detail: La solicitud no pudo completarse.
                    code: VALIDATION_ERROR
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '401':
          description: Authentication Required
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            WWW-Authenticate:
              description: Desafío Bearer según RFC 6750
              schema:
                type: string
                const: Bearer
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/authentication-required
                    title: Authentication Required
                    status: 401
                    detail: La solicitud no pudo completarse.
                    code: AUTHENTICATION_REQUIRED
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '403':
          description: Forbidden
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/forbidden
                    title: Forbidden
                    status: 403
                    detail: La solicitud no pudo completarse.
                    code: FORBIDDEN
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '404':
          description: Resource Not Found
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/resource-not-found
                    title: Resource Not Found
                    status: 404
                    detail: La solicitud no pudo completarse.
                    code: RESOURCE_NOT_FOUND
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '409':
          description: Conflict
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/conflict
                    title: Conflict
                    status: 409
                    detail: La solicitud no pudo completarse.
                    code: CONFLICT
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '500':
          description: Internal Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/internal-error
                    title: Internal Error
                    status: 500
                    detail: La solicitud no pudo completarse.
                    code: INTERNAL_ERROR
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutRequest'
            examples:
              success:
                value:
                  direccion_envio_id: 11111111-1111-4111-8111-111111111111
                  direccion_facturacion_id: 11111111-1111-4111-8111-111111111111
  /checkout/pago:
    post:
      operationId: api017
      x-teralya-api-code: API-017
      x-teralya-cu:
      - CU-010
      x-teralya-pt:
      - PT-COM-004
      tags:
      - Checkout
      summary: Crear o reutilizar sesión Stripe
      description: Reutiliza una sesión Stripe vigente; si expiró o fue cancelada, crea sustituta y reactiva el pago cancelado
        a pendiente.
      security:
      - BearerOpaque: []
      responses:
        '200':
          description: Operación completada
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutSession'
              examples:
                success:
                  value:
                    pedido_id: 11111111-1111-4111-8111-111111111111
                    checkout_url: https://example.com/recurso
                    session_expires_at: '2026-07-13T12:00:00Z'
                    reused: true
        '400':
          description: Validation Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/validation-error
                    title: Validation Error
                    status: 400
                    detail: La solicitud no pudo completarse.
                    code: VALIDATION_ERROR
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '401':
          description: Authentication Required
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            WWW-Authenticate:
              description: Desafío Bearer según RFC 6750
              schema:
                type: string
                const: Bearer
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/authentication-required
                    title: Authentication Required
                    status: 401
                    detail: La solicitud no pudo completarse.
                    code: AUTHENTICATION_REQUIRED
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '404':
          description: Resource Not Found
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/resource-not-found
                    title: Resource Not Found
                    status: 404
                    detail: La solicitud no pudo completarse.
                    code: RESOURCE_NOT_FOUND
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '409':
          description: Conflict
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/conflict
                    title: Conflict
                    status: 409
                    detail: La solicitud no pudo completarse.
                    code: CONFLICT
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '502':
          description: Upstream Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/upstream-error
                    title: Upstream Error
                    status: 502
                    detail: La solicitud no pudo completarse.
                    code: UPSTREAM_ERROR
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: true
        '503':
          description: Service Unavailable
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/service-unavailable
                    title: Service Unavailable
                    status: 503
                    detail: La solicitud no pudo completarse.
                    code: SERVICE_UNAVAILABLE
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutSessionRequest'
            examples:
              success:
                value:
                  pedido_id: 11111111-1111-4111-8111-111111111111
  /checkout/confirmacion/{pedido_id}:
    get:
      operationId: api018
      x-teralya-api-code: API-018
      x-teralya-cu:
      - CU-010
      - CU-028
      x-teralya-pt:
      - PT-COM-005
      tags:
      - Checkout
      summary: Consultar confirmación
      description: Contrato normativo de API-018.
      security:
      - BearerOpaque: []
      responses:
        '200':
          description: Operación completada
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderConfirmation'
              examples:
                success:
                  value:
                    pedido_id: 11111111-1111-4111-8111-111111111111
                    numero_pedido: TER-2026-0001
                    pago_estado: pagado
                    pedido_estado: pagado
                    confirmado_at: '2026-07-13T12:00:00Z'
        '401':
          description: Authentication Required
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            WWW-Authenticate:
              description: Desafío Bearer según RFC 6750
              schema:
                type: string
                const: Bearer
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/authentication-required
                    title: Authentication Required
                    status: 401
                    detail: La solicitud no pudo completarse.
                    code: AUTHENTICATION_REQUIRED
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '404':
          description: Resource Not Found
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/resource-not-found
                    title: Resource Not Found
                    status: 404
                    detail: La solicitud no pudo completarse.
                    code: RESOURCE_NOT_FOUND
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '500':
          description: Internal Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/internal-error
                    title: Internal Error
                    status: 500
                    detail: La solicitud no pudo completarse.
                    code: INTERNAL_ERROR
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
      parameters:
      - name: pedido_id
        in: path
        required: true
        schema: *id001
        description: Identificador pedido_id
        example: 11111111-1111-4111-8111-111111111111
  /pedidos:
    get:
      operationId: api019
      x-teralya-api-code: API-019
      x-teralya-cu:
      - CU-011
      x-teralya-pt:
      - PT-COM-006
      tags:
      - Pedidos
      summary: Listar Pedidos propios
      description: Contrato normativo de API-019.
      security:
      - BearerOpaque: []
      responses:
        '200':
          description: Operación completada
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageOrderSummary'
              examples:
                success:
                  value:
                    items: []
                    page: 1
                    page_size: 1
                    total_items: 0
                    total_pages: 0
        '400':
          description: Validation Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/validation-error
                    title: Validation Error
                    status: 400
                    detail: La solicitud no pudo completarse.
                    code: VALIDATION_ERROR
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '401':
          description: Authentication Required
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            WWW-Authenticate:
              description: Desafío Bearer según RFC 6750
              schema:
                type: string
                const: Bearer
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/authentication-required
                    title: Authentication Required
                    status: 401
                    detail: La solicitud no pudo completarse.
                    code: AUTHENTICATION_REQUIRED
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '500':
          description: Internal Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/internal-error
                    title: Internal Error
                    status: 500
                    detail: La solicitud no pudo completarse.
                    code: INTERNAL_ERROR
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
      parameters:
      - *id004
      - *id005
  /pedidos/{id}:
    get:
      operationId: api020
      x-teralya-api-code: API-020
      x-teralya-cu:
      - CU-011
      x-teralya-pt:
      - PT-COM-007
      tags:
      - Pedidos
      summary: Consultar Pedido propio
      description: Contrato normativo de API-020.
      security:
      - BearerOpaque: []
      responses:
        '200':
          description: Operación completada
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderBuyerDetail'
              examples:
                success:
                  value:
                    id: 11111111-1111-4111-8111-111111111111
                    numero_pedido: aaaaa
                    estado: pendiente_pago
                    total: '10.00'
                    moneda: EUR
                    created_at: '2026-07-13T12:00:00Z'
                    totales:
                      subtotal: '10.00'
                      gastos_envio: '2.00'
                      impuestos: '2.10'
                      descuentos: '1.00'
                      total: '13.10'
                      moneda: EUR
                    direccion_envio_snapshot:
                      nombre_destinatario: aaaaa
                      direccion: aaaaa
                      codigo_postal: aaaaa
                      ciudad: aaaaa
                      pais: aaaaa
                    direccion_facturacion_snapshot:
                      nombre_destinatario: aaaaa
                      direccion: aaaaa
                      codigo_postal: aaaaa
                      ciudad: aaaaa
                      pais: aaaaa
                    lineas: []
        '401':
          description: Authentication Required
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            WWW-Authenticate:
              description: Desafío Bearer según RFC 6750
              schema:
                type: string
                const: Bearer
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                error:
                  value:
                    type: https://teralya.es/problems/authentication-required
                    title: Authentication Required
                    status: 401
                    detail: La solicitud no pudo completarse.
                    code: AUTHENTICATION_REQUIRED
                    request_id: 11111111-1111-4111-8111-111111111111
                    retryable: false
        '403':
          description: Forbidden
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
[...]
